html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  #root {
    height: 100%;
  }
  
  .flex-1.overflow-y-auto {
    overflow-y: auto;
  }
  
  .flex-1.flex-col.overflow-hidden {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .bg-gray-900.p-4.flex.flex-col.h-full {
    height: 100%;
  }
  